<div class="header">
  <ul class="nav">
    {{#link-to "root" current-when="root" class="logo nav-item" tagName="li"}}Ember Inline SVG{{/link-to}}
    {{#link-to "options" current-when="options" class="nav-item" tagName="li"}}With Options{{/link-to}}
    {{#link-to "subdirectory" current-when="subdirectory" class="nav-item" tagName="li"}}Nested Paths{{/link-to}}
    {{#link-to "extension" current-when="extension" class="nav-item" tagName="li"}}With Extension{{/link-to}}
  </ul>
</div>

<div class="container">
  {{outlet}}
</div>
