<div class="svg-with-attributes">
  {{inline-svg "carnage" fill="#E95C5C" class="with-a-class" width="420px" height="420px"}}
</div>

{{code-block '{{inline-svg "carnage" fill="#E95C5C" class="with-a-class" width="720px" height="420px"}}' language="handlebars"}}
