<div class="svg-with-attributes">
  {{!-- BEGIN-SNIPPET options --}}
  {{inline-svg "carnage" fill="#E95C5C" class="with-a-class" width="420px" height="420px"}}
  {{!-- END-SNIPPET --}}
</div>

{{code-snippet name="options.hbs"}}
