<div class="svg-in-directory">
  {{!-- BEGIN-SNIPPET mango --}}
  {{inline-svg "foo/mango"}}
  {{!-- END-SNIPPET --}}
</div>

{{code-snippet name="mango.hbs"}}

<div class="svg-in-directory">
  {{!-- BEGIN-SNIPPET aqua --}}
  {{inline-svg "foo/bar/aqua"}}
  {{!-- END-SNIPPET --}}
</div>

{{code-snippet name="aqua.hbs"}}
